{% extends 'base.html' %}

{% block content %}
    <section class="section-padding">
        <div class="container pt-25">
            <div class="row">
                <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                    <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Bizning Do'kon</h6>
                    <h1 class="font-heading mb-40">
                        Kitob Olamiga Yo'l Ochamiz
                    </h1>
                    <p>Eng so'nggi nashrlar va betakror kitoblar to'plami bilan sizni kutib olishdan mamnunmiz. Bizning kitoblar sizni yangi bilimlar olamiga olib kiradi.</p>
                    <p>Do'konimizda turli janrlardagi kitoblar mavjud: badiiy adabiyot, ilmiy kitoblar, bolalar adabiyoti va yana ko'p narsalar. Har qanday kitobxon uchun o'ziga xos tanlov bor!</p>
                </div>
                <div class="col-lg-6">
                    <img src="https://www.anglicannews.org/media/1345762/black_web_booksonline.jpg" alt="Kitob do'koni rasm">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
