{% load static %}

<footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
       
    </section>
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a href="{% url 'book:home' %}"><img src="{% static 'bookshop/imgs/theme/logo.svg' %}"
                                                                 alt="logo"></a>
                        </div>
                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Aloqa</h5>
                        <p class="wow fadeIn animated">
                            <strong>Manzil: </strong>Farg'ona shahar, Farg'ona viloyati
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Telefon: </strong>+998-90-777-05-12
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Saat: </strong>10:00 - 18:00, Dush - Shan
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5 class="widget-title wow fadeIn animated">Haqida</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a href="{% url 'book:about' %}">Biz haqimizda</a></li>
                    </ul>
                    <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Bizni Kuzatish</h5>
                    <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                        <a href="#"><img src="{% static 'bookshop/imgs/theme/icons/icon-facebook.svg' %}"
                                         alt=""></a>
                        <a href="#"><img src="{% static 'bookshop/imgs/theme/icons/icon-twitter.svg' %}" alt=""></a>
                        <a href="https://www.instagram.com/asatullayev0509" target="_blank"><img src="{% static 'bookshop/imgs/theme/icons/icon-instagram.svg' %}"
                                         alt=""></a>
                        <a href="#"><img src="{% static 'bookshop/imgs/theme/icons/icon-pinterest.svg' %}"
                                         alt=""></a>
                        <a href="#"><img src="{% static 'bookshop/imgs/theme/icons/icon-youtube.svg' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5 class="widget-title wow fadeIn animated">Mening hisobim</h5>
                    <ul class="footer-list wow fadeIn animated">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'user:profile' %}">Profilim</a></li>
                            <li><a href="{% url 'user:logout' %}">Chiqish</a></li>
                        {% else %}
                            <li><a href="{% url 'user:login' %}">Kirish</a></li>
                            <li><a href="{% url 'user:register' %}">Ro'yxatdan o'tish</a></li>
                        {% endif %}
                        <li><a href="{% url 'book:cart_list' %}">Savatni ko'rish</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="widget-title wow fadeIn animated">Ilovani o'rnating</h5>
                    <div class="row">
                        <div class="col-md-8 col-lg-12">
                            <p class="wow fadeIn animated">App Store yoki Google Play'dan oling</p>
                            <div class="download-app wow fadeIn animated">
                                <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                                                                  src="{% static 'bookshop/imgs/theme/app-store.jpg' %}"
                                                                                  alt=""></a>
                                <a href="#" class="hover-up"><img
                                        src="{% static 'bookshop/imgs/theme/google-play.jpg' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-lg-6">
                <p class="float-md-left font-sm text-muted mb-0">&copy; 2024, <strong class="text-brand">Evara</strong>
                    -Online Kitob do'koni </p>
            </div>
            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Dasturchi <a href="https://asatullayev.uz" target="_blank">Asatullayev Diyorbek</a>
                </p>
            </div>
        </div>
    </div>
</footer>