<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {% include '_components/style.html' %}
</head>

<body>
    
    <div id="toast-container"></div>    

    {% include '_components/header.html' %}



    {% include '_components/mobile_header.html' %}



    <main class="main">
        {% block content %}

        {% endblock %}
    </main>


    {% include '_components/messages.html' %}
    {% include '_components/footer.html' %}


    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   {% include '_components/script.html' %}
</body>

</html>