{% load static %}

<section class="home-slider position-relative pt-25 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-3">
                <div class="position-relative">
                    <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="slider-1-height-3 slider-animated-1">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Chegirma Aksiyasi</h4>
                                        <h2 class="animated fw-900">Eng Qimmatli Takliflar</h2>
                                        <h1 class="animated fw-900 text-brand">Barcha Kitoblarda</h1>
                                        <p class="animated">Ko'proq tejang, kuponlar bilan 70% gacha chegirma</p>
                                        <a class="animated btn btn-brush btn-brush-3"
                                           href="{% url 'book:book_list' %}"> Hozir Sotib Oling </a>
                                    </div>
                                    <div class="slider-img">
                                        <img src="{% static 'bookshop/imgs/slider/evara-slider1.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="slider-1-height-3 slider-animated-1">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Maxsus Takliflar</h4>
                                        <h2 class="animated fw-900">Kitoblar Yangiligi</h2>
                                        <h1 class="animated fw-900 text-brand">Ajoyib To'plamlar</h1>
                                        <p class="animated">Ko'proq tejang, kuponlar bilan 20% gacha chegirma</p>
                                        <a class="animated btn btn-brush btn-brush-3"
                                           href="{% url 'book:book_list' %}"> Hozir Sotib Oling </a>
                                    </div>
                                    <div class="slider-img">
                                        <img src="{% static 'bookshop/imgs/slider/evara-slider2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow style-3"></div>
                </div>
            </div>
            <div class="col-lg-3 d-md-none d-lg-block">
                <div class="banner-img banner-1 wow fadeIn animated home-3">
                    <img class="border-radius-10" src="{% static 'bookshop/imgs/slider/right-top-slider.png' %}" alt="">
                    <div class="banner-text">
                        <span>Badiiy asarlar</span>
                        <h4>Kuzgi mavsumga 17% chegirma</h4>
                        <a href="{% url 'book:book_list' %}">Hozir Sotib Oling <i class="fi-rs-arrow-right"></i></a>
                    </div>
                </div>
                <div class="banner-img banner-2 wow fadeIn animated mb-0">
                    <img class="border-radius-10" src="{% static 'bookshop/imgs/banner/banner-7.jpg' %}" alt="">
                    <div class="banner-text">
                        <span>Romanlar</span>
                        <h4>O'zbek romanlariga 20% chegirma</h4>
                        <a href="{% url 'book:book_list' %}">Hozir Sotib Oling <i class="fi-rs-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>